{% extends 'base.html.twig' %}

{% block title %}Article : {{postactuel.public}} |Findaway{% endblock %}

{% block body %}
{% include "header.html.twig" %}
    <div class="bigmain">
         {% include "_layout_left.html.twig" %}
        <div class="main_div">
            <h1 class="text_center_posts"> Post actuel ! </h1>
                <div class="posts" id="{{ postactuel.id }}">
                    <p><strong> Public ciblé : </strong> {{ postactuel.public}}</p>
                    <div class="text">
                        <p> {{postactuel.content}} </p>
                    </div>
                    <div class="divimage">
                        {% if postactuel.image is null %}
                            <img src="{{ exemple_post ~ "post_standard.png" }}" alt="image du post" class="imageposts">
                            {% else %}
                            <img src="{{ image_post ~ postactuel.image }}" alt="image du post" class="imageposts">
                        {% endif %}
                    </div>
                </div>
                <div class="posts">
                     <h2 class="text_center_posts"> Espace commentaire ! </h2>
                    {{ form_start(CommentType) }}
                        {{ form_row(CommentType.content) }}
                    {{ form_end(CommentType)}}
                </div>
            <div class="espace_commentaire">
                {% for comment in comments %}
                    <div class="comment_user">
                        <p> {{ comment.content }} </p>
                        <div class="bigmain commentaire">
                            <p>Ecrit le : {{comment.created|format_datetime(locale='fr',pattern="dd MMMM YYYY")}} Par : <a href="{{path('app_profil',{'id': comment.user.id})}}">{{comment.user.name}}</a></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include "_layout_right.html.twig" %}
    </div>
    {% include "footer.html.twig" %}
{% endblock %}
