{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
        {% include "header.html.twig" %}
        <div class="bigmain">
            {% include "_layout_left.html.twig" %}
            {% if app.user %}
                <div class="main_div">
                    {% for mypost in myposts %}  
                        <div class="posts" id="{{ mypost.id }}">
                        {% if mypost.image is null %}
                            <img src="{{ exemple_post ~ "post_standard.png" }}" alt="image du post" class="imageposts">
                        {% else %}
                            <img src="{{ image_post ~ mypost.image }}" alt="image du post" class="imageposts">
                        {% endif %}
                        <p>{{ mypost.content }}</p>
                        <p>{{ mypost.id }}</p>
                        </div>
                    {% endfor %}
                </div> 
            {% endif %}
        {% include "_layout_right.html.twig" %}
        </div>
{% endblock %}
