<div class="layout_left"> 
{% if app.user %}
    <h1 class="profil_layout_left">Profil  </h1>
    <a href="{{path('app_profil',{'id': app.user.id})}}">L'utilisateur est {{ app.user.name}} </p></a>
        <p> {{app.user.email}} </p>
        {% if app.user.image is not null %}
            <a href="{{path('app_profil',{'id': app.user.id})}}"><img src="{{ profile_image ~ app.user.image }}" alt="image du post" class="user-img-40"></a>
        {% else %}
            <a href="{{path('app_profil',{'id': app.user.id})}}"><img src="{{ profile_standard ~ "user_blank.png" }}" alt="image du post" class="user-img-40"></a>
        {% endif %}
    {% else %}
        <h1 class="text_left">Vous pouvez participer en dessous ! </h1>
        <p> Cliquez <a href="{{path('app_register')}}">  ici  </a> pour créer un compte !</p>
        <p> Vous avez deja un compte ?<a href="{{path('app_login')}}">  Cliquez ici </a></p>
    {% endif %}
</div>